{
  "presets": [["es2015", {"modules": false}], "react", "stage-2"],
  "plugins": [
    "css-modules-transform",
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ]
  ]
}
