
/* FA-877 - Fix component widths in the data grid with prefix/sufix. */
.input-group {
    width: 100%;
}
.form-field-type-datagrid .input-group {
    width: auto;
}

.form-field-type-datagrid .form-group {
    margin-bottom: 0;
}

.form-field-type-datagrid .datagrid-table {
    margin-bottom: 0px;
}

.form-field-type-datagrid .datagrid-add {
    margin-bottom: 20px;
}

.form-field-type-datetime .input-group,
.form-field-type-datetime .input-group-btn {
    width: 100%;
}
.form-field-type-datetime .input-group-btn {
    width: auto;
}

.m-signature-pad {
    border: 1px solid #e8e8e8;
    background-color: #F5F5EB;
    border-radius: 4px;
    height: 150px;
}

.m-signature-pad--body {
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 60px;
    border: 1px solid #f4f4f4;
}

.m-signature-pad--body
canvas {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

.m-signature-pad--footer {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 40px;
}

.m-signature-pad--footer
.button {
    position: absolute;
    bottom: 0;
}

.m-signature-pad--footer
.button.clear {
    left: 0;
}

.m-signature-pad--footer
.button.save {
    right: 0;
}

@media screen and (max-width: 1024px) {
    .m-signature-pad {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        min-width: 250px;
        min-height: 140px;
    }
    #github {
        display: none;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .m-signature-pad {
        margin: 10%;
    }
}

@media screen and (max-height: 320px) {
    .m-signature-pad--body {
        left: 0;
        right: 0;
        top: 0;
        bottom: 32px;
    }
    .m-signature-pad--footer {
        left: 20px;
        right: 20px;
        bottom: 4px;
        height: 28px;
    }
    .m-signature-pad--footer
    .description {
        font-size: 1em;
        margin-top: 1em;
    }
}

.formio-signature-footer {
    margin: 0 10px;
}

.formio-table-content-centered {
    text-align: center;
}

.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;line-height: 1em;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 12px; line-height:15px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; top: 25px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%; cursor:pointer;z-index:10;}
.bs-wizard.hasTitles > .bs-wizard-step > .bs-wizard-dot {top: 40px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot > .bs-wizard-dot-inner {width: 14px; height: 14px; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 10px; box-shadow: none; margin: 20px 0;border: none;padding: 0;}
.bs-wizard.hasTitles > .bs-wizard-step.noTitle > .progress {margin-top: 35px;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;border-radius:0;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot > .bs-wizard-dot-inner {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.row.bs-wizard.hasTitles {display: flex; justify-content: center; margin: auto; padding:10px 0px; width: 100%;}
.panel-heading {color: #333; background-color: #f5f5f5; border-color: #ddd;}
.bs-wizard-step .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; top: 25px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%; cursor:pointer;z-index:10;}
.bs-wizard-step .progress .progress-bar {width:0px; box-shadow: none;}
.bs-wizard-step .progress {position: relative; border-radius: 0px; height: 10px; box-shadow: none; margin: 20px 0;border: none;padding: 0;}
.bs-wizard-step:first-child .progress {left: 50%; width: 50%;}
.bs-wizard-step:last-child .progress {width: 50%;}
